* {
  margin: 0;
  padding: 0;
}
#creat_new_account_for_div {
  height: 700px;
  width: 50%;
  background: linear-gradient(to top, rgb(95, 174, 213), white);
  margin: auto;
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}

p {
  font-weight: bold;
  font-size: medium;
}

input {
  border: 2px solid black;
}

button {
  margin-top: 30px;
  position: relative;
  left: 40%;
  height: 40px;
  width: 180px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(to top, rgb(95, 174, 213), white);
}

form {
  margin-top: 40px;
  position: relative;
  left: 40%;
}

select {
  border: 2px solid black;
  width: 20%;
}

input[type="date"] {
  width: 170px;
}
