*{
    margin: 0;
    padding: 0;

}
 table,
  th,
  td {
    border: 1px solid black;
    /* padding: 20px; */
  }
  
.button2edit {
  margin: 1px;
  width: 59px;
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button2delete {
   margin: 1px;
  background-color: #ef0909;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.button2block{
   margin: 1px;
background-color: #8369e8;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}


nav {
  background-color: #003344;
  width: 100%;
  height: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
}

nav ul li {
  padding-top: 3px;
  color: white;
  font-size: 18px;
  padding-right: 20px;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #003c57;
}
#imagediv {
  display: inline;
  padding-top: 20px;
  padding: 10px;
  margin-left: 30px;
  background-color: white;
  height: 40px;
  margin-top: 6px;
  border-radius: 11px;
  width: 50px;
  margin-bottom: 10px;
}

#innerimagediv {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  background: linear-gradient(to right, #1ca4d5, #292b64);
}

#onlinebankingsystemdiv {
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-top: 18px;
  padding-left: 12px;
}

li:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: antiquewhite;
}


#optionforcustomerdiv{
  background-color: #003344;
  color: white;
  width: 100%;
  height: 25px;
} 

#optionforcustomerdiv ul{
    font-weight: bold; 
    font-size: 21px;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#seconmaindiv{
    display: flex;
    justify-content: space-evenly;

}
#divfortipsupdatesEvents{
     height: 300px;
     width: 50%;
     background-color:#E3E2E2;
     margin: 20px;
}


#divforonlineservices{
     height: 300px;
     width: 50%;
     background-color: #C4D7E3;
     margin: 20px;

}

#nav {
  background-color: #003344;
  width: 100%;
  height: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
}

nav ul li {
  padding-top: 3px;
  color: white;
  font-size: 18px;
  padding-right: 20px;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #003c57;
}
#imagediv {
  display: inline;
  padding-top: 20px;
  padding: 10px;
  margin-left: 30px;
  background-color: white;
  height: 40px;
  margin-top: 6px;
  border-radius: 11px;
  width: 50px;
  margin-bottom: 10px;
}

#innerimagediv {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  background: linear-gradient(to right, #1ca4d5, #292b64);
}

#onlinebankingsystemdiv {
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-top: 18px;
  padding-left: 12px;
}

li:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: antiquewhite;
}


#optionforcustomerdiv{
  background-color: #003344;
  color: white;
  width: 100%;
  height: 25px;
} 

#optionforcustomerdiv ul{
    font-weight: bold; 
    font-size: 21px;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#seconmaindiv{
    display: flex;
    justify-content: space-evenly;

}
#divfortipsupdatesEvents{
     height: 300px;
     width: 50%;
     background-color:#E3E2E2;
     margin: 20px;
}


#divforonlineservices{
     height: 300px;
     width: 50%;
     background-color: #C4D7E3;
     margin: 20px;

}
#nav {
  background-color: #003344;
  width: 100%;
  height: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
}

nav ul li {
  padding-top: 3px;
  color: white;
  font-size: 18px;
  padding-right: 20px;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #003c57;
}
#imagediv {
  display: inline;
  padding-top: 20px;
  padding: 10px;
  margin-left: 30px;
  background-color: white;
  height: 40px;
  margin-top: 6px;
  border-radius: 11px;
  width: 50px;
  margin-bottom: 10px;
}

#innerimagediv {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  background: linear-gradient(to right, #1ca4d5, #292b64);
}

#onlinebankingsystemdiv {
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-top: 18px;
  padding-left: 12px;
}

li:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: antiquewhite;
}


#optionforcustomerdiv{
  background-color: #003344;
  color: white;
  width: 100%;
  height: 25px;
} 

#optionforcustomerdiv ul{
    font-weight: bold; 
    font-size: 21px;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#seconmaindiv{
    display: flex;
    justify-content: space-evenly;

}
#divfortipsupdatesEvents{
     height: 300px;
     width: 50%;
     background-color:#E3E2E2;
     margin: 20px;
}


#divforonlineservices{
     height: 300px;
     width: 50%;
     background-color: #C4D7E3;
     margin: 20px;

}

#customer_detail_h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    
}